/*  your css code here. If applicable */
main{
	height : 150px;
	width : 500px;
	background-color: #f5f5f5;
	padding: 15px;
}

h1{
	font-size: 20px;
}
p, h1{
	margin : 10px;
}
div{
	height : 25%;
	width : 90%;
	background-color: white;
	margin : 10px;
	padding : 5px;
	border : 1px;
	font-size: 50%;
}

.an{
	text-align: right;
	font-style: italic;
}